<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="questionDao" class="ru.otus.spring.dao.QuestionDaoImpl">
        <constructor-arg name="resourceFileName" value="data/questions.csv"/>
    </bean>

    <bean id="studentsTestService" class="ru.otus.spring.service.StudentsTestServiceImpl">
        <constructor-arg name="questionDao" ref="questionDao"/>
    </bean>

    <bean id="writeReadService" class="ru.otus.spring.service.WriteReadServiceImpl"/>

    <bean id="studentAccountService" class="ru.otus.spring.service.StudentAccountServiceImpl">
        <constructor-arg name="writeReadService" ref="writeReadService"/>
    </bean>


    <bean id="questionStreamService" class="ru.otus.spring.service.QuestionStreamServiceImpl">
        <constructor-arg name="writeReadService" ref="writeReadService"/>
    </bean>

    <bean id="studentsTestRunnerService" class="ru.otus.spring.service.StudentsTestRunnerServiceImpl">
        <constructor-arg name="studentsTestService" ref="studentsTestService"/>
        <constructor-arg name="studentAccountService" ref="studentAccountService"/>
        <constructor-arg name="questionStreamService" ref="questionStreamService"/>
    </bean>
</beans>
